@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 80px;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.523), transparent), url(/assets/image/hero.jpg);
  background-size: cover;
  height: 100vh;

  .nav-wrapper {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  nav {
    max-width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo img {
      height: 75px;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-basis: 25%;
      column-gap: 16px;
      justify-content: space-evenly;
      align-items: center;
      color: #EE6129;

      a {
        width: max-content;
        color: inherit;
        text-decoration: none;
        font-weight: bold;
      }

      a::after {
        content: '';
        width: 80%;
        background-color: #EE6129;
        height: 3px;
        border-radius: 3px;
        margin: auto;
        display: block;
        transition: all .2s ease-in-out;
        transform: translateY(-200%) scale(0);
        opacity: 0;
      }

      a:hover::after,
      a:active::after {
        opacity: 1;
        transform: translateY(0) scale(1);
      }

      li.contacts {
        a::after {
          content: '';
        }

        a {
          background-color: #EE6129;
          color: white;
          padding: 8px 16px;
          display: block;
          border-radius: 25px;

          &:hover {
            box-shadow: 0 0 5px 5px rgba($color: #000000, $alpha: .2);
          }

          transition: box-shadow .2s ease-in-out;
        }
      }
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    color: white;
    height: 100%;

    a.btn {
      background-color: #EE6129;
      color: white;
      display: inline-block;
      padding: 8px 16px;
      margin-top: 16px;
      border-radius: 25px;
      text-decoration: none;
      transition: box-shadow .2s ease-in-out;

      &:hover {
        box-shadow: 0 0 5px 5px rgba($color: #000000, $alpha: .2);
      }
    }
  }
}

main {
  max-width: 1000px;
  margin: 32px auto;
  padding: 0 16px;

  #foodList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    gap: 16px;
    justify-content: space-between;

    .food-item {
      flex-basis: 30%;
      flex: 1;
      min-width: 300px;

      img {
        width: 100%;
      }
    }
  }
}

aside {
  margin-top: 32px;

  .profile-wrapper {
    display: flex;
  }

  .profile {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;


    img {
      flex-basis: 25%;
      width: 100%;
      max-width: 300px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    row-gap: 16px;
    margin: 16px auto;

    input,
    textarea {
      resize: none;
      outline: none;
      font-family: inherit;
      padding: 8px;
      border: none;
      border-bottom: 2px solid black;
      transition: all 0.3s ease-in-out; 
      font-size: 1.5rem;
    }

    textarea {
      padding-bottom: 64px;
    }

    input:focus-visible, textarea:focus-visible {
      border-bottom: 3px solid #EE6129;
    }

    input[type=submit] {
      background-color: #EE6129;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 30px;

      &:hover {
        box-shadow: 0 0 5px 5px rgba($color: rgba(0, 0, 0, 0.5), $alpha: .2);
      }
      &:active {
        box-shadow: none;
      }
    }
  }
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
}